<% // template needs idx for ingredient, stepNumber for direction %>
<% // directions, and ingredients %>
<form action="/recipe" method="post">
  <!-- recipe image thumbnail -->
  <h2>Name</h2>
  <input type="text" name="name" required />
  <div>
    <button type="submit">Continue</button>
  </div>
</form>
