<div>
  <div>
    <% if (typeof(guest) !== 'undefined') { %>
      <input type="text" name="guestName" value="<%= guest.name %>" required />
    <% } else { %>
      <input type="text" name="guestName" required />
    <% } %>
    <span>does not eat</span>
    <% include preference-autocomplete.ejs %>
    <button type="button">Add Preference</button>
  </div>
  <% include preference-list.ejs %>
</div>