<% include header.ejs %>
<div>
  <h1>Hexelberry Picking</h1>
  <ul>
    <li><a href="/table-wizard">Set a Table</a></li>
    <li><a href="/recipes">Browse Recipes</a></li>
    <li><a href="/add-recipe">Add a Recipe</a></li>
  </ul>
</div>
<% include footer.ejs %>
