<% for (var i = 0; i < preferences.length; i++) { %>
<div>
  <label for="<%= preferences[i].name %>">
    <input id="<%= preferences[i].name %>" name="preference_<%= preferences[i].id %>" type="checkbox"/>
    <%= preferences[i].name %>
  </label>
</div>
<% } %>